.text {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0em 10em 0em 10em;
}

.title {
    color: white;
    font-size: 5em;
    text-align: center;
    opacity: 0;
    animation-duration: 0.75s;
    animation-name: fadeIn;
    animation-delay: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 50vh;
}
.overlapLayer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh; /* Height of the translucent area */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
    z-index: 1;
}
.overlapLayer {
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
