
.text {
    text-align: center;
    font-size: 1.5em;
    margin: 1em 10em 1em 10em;
    font-size: 1em;
}

.title {
    opacity: 0;
    animation-duration: 0.75s;
    animation-name: fadeIn;
    animation-delay: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
