.body {
	background-color: #1a0202;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.page {
	opacity: 0;
	animation-duration: 0.75s;
	animation-name: fadeIn;
	animation-delay: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	align-items: center;
	justify-content: center;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 100%;}
}