.body {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.button {
	border-radius: 10px;
	color: rgb(209, 209, 209);
	background-color: rgba(73, 71, 238, 0.233);
	font-size: 18px;
	font-weight: 600;
	margin: 6px;
	padding: 12px 18px 12px 18px;
	text-decoration: none;
	animation: 0.1s ease-in-out 0s 1 normal none running button-unhover;
}

@keyframes button-hover {
	to     {background-color: rgba(73, 71, 238, 0.85);}
}

@keyframes button-unhover {
	from   {background-color: rgba(73, 71, 238, 0.85);}
}

.button:hover, .button:active {
	animation: 0.1s ease-in-out 0s 1 normal forwards running button-hover;
}