.card {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	grid-area: 4 / 1 / span 5 / span 1;
	width: 100%;
	min-width: 200px;
	background-color: rgb(20, 26, 36);
	border-radius: 16px;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: solid;
	border-width: 2px;
	color: white;
	padding: 12px 12px 0 12px;
}

.title {
	border-color: rgba(255, 255, 255, 0.5);
	border-style: solid;
	border-width: 0 0 2px 0;
	color: white;
	padding: 6px 12px 12px 12px;
	font-size: 20px;
	height: 32px;
	display: grid;
	white-space: nowrap;
	grid-template-columns: min-content min-content auto;
	line-height: 28px;
}

.teamName {
	margin-right: 8px;
}

.memberCount {
	margin-left: auto;
	float: right;
}

.holder {
	width: 100%;
	max-height: 87%;
	overflow-y: auto;
}

.member {
	padding: 8px;
	margin: 8px 0;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	display: grid;
	grid-template-columns: 48px 360px auto;
	align-items: center;
}

.profilePicture {
	border-radius: 100%;
	width: 48px;
	height: 48px;
}

.name {
	padding-left: 16px;
	font-size: 18px;
}

@media only screen and (min-width: 1000px) {
	.card {
		grid-area: 2 / 1 / span 5 / span 1;
	}
}

.requestButton {
	border-radius: 100px;
	border: none;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	background-color: #484a4d;
	cursor: pointer;
	transition: background-color 200ms;
}

.requestButton:hover, .requestButton:active {
	background-color: #484a4d90;
	transition: background-color 200ms;
}

.optionsHolder {
	margin-right: 0;
	margin-left: auto;
}

.hide {
  display: none;
}

.dropdownContent {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.075);
  z-index: 1;
	border-radius: 16px;
	display: none;
	padding: 8px;
}

.firstOption {
	margin-bottom: 8px;
}

.secondOption {
	padding: 0;
}

.dropdownContent button {
	color: black;
	text-align: left;
  padding: 16px;
  text-decoration: none;
	border-radius: 16px;
	border: solid;
	border-width: 2px;
	border-color: rgb(0, 0, 0, 0.2);
	width: 100%;
	font-family: "Work Sans", sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: background-color 200ms;
}

.dropdownContent img {
	margin-right: 12px;
}

.dropdownContent button:hover {
	background-color: rgb(211, 211, 211);
	transition: background-color 200ms;
}

.show {
	display: block !important;
}

.actionButton {
	width: 160px;
	height: 32px;
	color: white;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	border: none;
	margin-left: 24px;
	border-radius: 8px;
	opacity: 1;
	transition: opacity 200ms;
}

.leaveButton {
	background-color: rgb(177, 55, 55);
}

.inviteCode {
	width: 160px;
	height: 32px;
	color: white;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	border: none;
	margin-left: 24px;
	border-radius: 8px;
	background-color: rgb(55, 67, 177);
	width: 200px;
	text-align: center;
	line-height: 32px;
	
}

.actionButton:hover, .actionButton:active {
	opacity: 0.8;
	transition: opacity 200ms;
}

.noTeam {
	padding-top: 16px;
	font-size: 24px;
	text-align: center;
}

.noTeamCard {
	position: relative;
	height: 100%;
}

.buttonHolder {
	width: 100%;
	margin-top: 24px;
	display: flex;
	justify-content: center;
}

.teamButton {
	width: 160px;
	height: 50px;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	cursor: pointer;
	opacity: 1;
	transition: opacity 200ms;
}

.createTeamButton {
	background-color: rgb(184, 54, 54);
	margin-right: 24px;
}

.joinTeamButton {
	background-color: rgb(99, 156, 255);
	margin-left: 24px;
}

.teamButton:hover, .teamButton:active {
	opacity: 0.8;
	transition: opacity 200ms;
}

.teamButton:disabled {
	cursor: default;
	opacity: 0.5 !important;
}

.teamInputHolder {
	width: 100%;
	height: 0;
	display: grid;
	grid-template-columns: 10% 90%;
	align-items: center;
	animation: 0.5s ease-out 0s 1 normal forwards running input-active-holder;
}

.teamInputHolder input {
	width: calc(100% - 16px);
	height: 0px;
	font-size: 32px;
	font-family: 'Work Sans', sans-serif;
	background-color: transparent;
	color: white;
	border: solid;
	border-width: 0 0 2px 0;
	border-color: rgba(255, 255, 255, 0.75);
	margin: 0;
	padding: 0;
	animation: 0.5s ease-out 0s 1 normal forwards running input-active;
}

.teamInputHolder button {
	width: 48px;
	height: 48px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 100%;
	cursor: pointer;
	translate: 0 12px;
	animation: 0.5s ease-out 0s 1 normal forwards running input-active-button;
}

.errorMessage {
	color: rgb(202, 76, 76);
	padding-left: 16px;
	margin-top: 8px;
	grid-column: 2 / 2;
}

@keyframes input-active {
	from  {
		clip-path: circle(0%);
		margin: 0;
		padding: 0;
	}
	to  {
		clip-path: circle(100%); 
		height: 48px;
		padding: 16px 0 16px 16px;
		margin: 16px 0 0 0;
	}
}

@keyframes input-active-button {
	from  {
		clip-path: circle(0%);
	}
	to  {
		clip-path: circle(100%); 
		height: 48px;
	}
}

@keyframes input-active-holder {
	to  {height: 96px}
}

.editNameButton {
	background-color: transparent;
	margin-left: 8px;
	width: 32px;
	height: 32px;
	line-height: 0;
}

.editNameButton img {
	vertical-align: middle;
	transform: translateY(-2px);
}

@media only screen and (max-width: 720px) {
  .teamInputHolder {
		margin-bottom: 96px;
	}

	.title {
		grid-template-columns: min-content auto min-content;
		grid-template-rows: min-content min-content;
		grid-gap: 8px;
		height: auto;
	}

	.leaveButton, .inviteCode {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
		margin-left: 0;
	}

	.name {
		width: 100%;
	}

	.member {
		grid-template-columns: 48px 50% auto;
	}

	.dropdownContent {
		right: 14px;
	}

	.holder {
		max-height: 78%;	
	}
}