/* Variables */
.header {
	--navbar-background-color: rgb(52, 55, 65);
	--links-hover-color: rgba(0, 0, 0, 0.233);
	--links-color: rgb(209, 209, 209);
}

.header {
	align-items: center;
	background-color: var(--navbar-background-color);
	display:grid;
	grid-column-gap: 5px;
	grid-template-columns: 1fr repeat(1, auto);
	position: fixed;
	width: 100%;
	z-index: 10;
}

.title {
	color: white;
	display:flex;
	padding-left: 2rem;
	justify-content: left;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}

.button {
	margin-right: 0.5rem;
}

.links {
	border-radius: 10px;
	color: var(--links-color);
	font-size: 18px;
	font-weight: 600;
	margin: 6px;
	padding: 12px 18px 12px 18px;
	text-decoration: none;
	animation: 0.1s ease-in-out 0s 1 normal forwards running button-unhover;
}

@keyframes button-hover {
	to  {background-color: var(--links-hover-color);}
}

@keyframes button-unhover {
	from {background-color: var(--links-hover-color)}  
}

.links:hover, .links:active {
	animation: 0.1s ease-in-out 0s 1 normal forwards running button-hover;
}

.signin {
	background-color: rgb(73, 71, 238);
}